@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* 기본 스크롤 바 START*/
::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
	background-color: #424040; /* 스크롤바의 색상 (검정색) */
	border-radius: 10px; /* 스크롤바의 모서리 둥글게 */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
}
/* 기본 스크롤 바 END*/

/* Profile Scroll-bar START*/
.custom-scrollbar::-webkit-scrollbar {
	width: 8px; /* 스크롤바의 너비 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #68baf8; /* 스크롤바의 색상 */
	border-radius: 10px; /* 스크롤바의 모서리 둥글게 */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
}
/* Profile Scroll-bar END*/
